.registrar {
  max-width: 450px;
  margin: 60px auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registrar-botao {
  width: 55%;
  padding: 12px;
  background-color: #3A95DF;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.registrar-botao:hover {
  transform: scale(1.1);
}

.login-texto {
  margin-top: 15px;
}

.login-link {
  color: #1e90ff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.requisitos {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.terms-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 10px 0 20px 0;
}

.terms-container input {
  width: 18px;
  height: 18px;
}

.terms-container label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.terms-container a {
  color: #007bff;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}

